<div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a
        routerLink="/"
        class="nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <!-- <li class="nav-item">
      <a
        routerLink="/about"
        class="nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >About</a
      >
    </li> -->
    <li class="nav-item">
      <a
        routerLink="/counter"
        class="nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Counter</a
      >
      <li class="nav-item">
      <a
        routerLink="/posts"
        class="nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Posts</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="/rxjs"
        class="nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >RxJs</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="/signal"
        class="nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Signal</a
      >
    </li>
  </ul>
</div>
